@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Source+Code+Pro:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  color: rgba(219, 213, 213, 0.74);
  font-size: 16px;
}
html {
  background: linear-gradient(#0c0c0c 85%, rgb(53, 52, 52));
}
header img {
  width: 100%;
  margin: 0;
}

#scroll{
  display: flex;
  justify-content: center;
}

#scroll_logo{
  width: 10%;
  max-height: 38px;
}

/* nav______________________________________________________________________________ */
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
nav li {
  list-style-type: none;
  align-self: center;
}
nav a {
  color: rgba(148, 140, 140, 0.712);
  text-decoration: none;
  font-family: "Metal Mania", cursive;
  font-size: 2em;
  font-size: 2em;
}

nav a:hover {
  color: rgba(219, 213, 213, 0.74);
}

#home,
#tour_dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 10%;
}

/* home______________________________________________________________________________________________*/
#about_the_band {
  font-family: "Metal Mania", cursive;
  font-size: 2em;
  text-align: center;
}

#band {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15%;
  margin: 7% 0;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member > img {
  width: 80%;
}

#video {
  display: block;
  width: 100%;
}

article {
  margin-top: 10%;
}
.mag_signature {
  text-align: right;
}

/* tour dates_________________________________________________________________________________________*/
h1 {
  font-family: "Metal Mania", cursive;
  font-size: 2em;
  letter-spacing: 4px;
}

table {
  border-collapse: collapse;
  margin-bottom: 7%;
}

td,
tr {
  border-top: rgba(148, 140, 140, 0.712) solid 2px;
  border-bottom: rgba(148, 140, 140, 0.712) solid 2px;
  text-align: center;
  padding: 20px 30px;
  font-size: 1.3em;
}

.date {
  font-weight: bold;
}
/* store______________________________________________________________________________________________*/
.store {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.shirt,.album,
.poster {
  width: 30%;
  text-decoration: none;
}

img {
  filter: brightness(60%);
}

figcaption {
  font-size: 16px;
  color: rgba(148, 140, 140, 0.712);
}

.description {
  width: 60%;
  text-align: left;
  padding: 10%;
  word-wrap: break-word;
}

a.order {
  color: rgba(148, 140, 140, 0.712);
  font-family: "Metal Mania", cursive;
  letter-spacing: 1px;
  text-decoration: none;
  }

/* contact ___________________________________________________________________________________________*/
form {
  display: flex;
  justify-content: space-around;
  margin: 10% auto;
}
textarea {
  width: 100%;
}

fieldset{
  padding: 30px;
  margin: 20px;
}

legend {
  color: rgba(148, 140, 140, 0.712);
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1%;
}

label {
  color: rgba(148, 140, 140, 0.712);
  font-family: "Source Code Pro", monospace;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#name,
#email,
textarea {
  background-color: rgba(148, 140, 140, 0.712);
  margin: 2% 0 2% 0;
}

#email[placeholder="" i] {
  color: rgba(219, 213, 213, 0.74);
  font-weight: bold;
  font-size: 16px;
  width: 40%;
}
input #name[placeholder=""] {
  color: rgba(219, 213, 213, 0.74);
  font-weight: bold;
  font-size: 16px;
  width: 20%;
}

input[type="checkbox" i] {
  margin: 15px 0 15px 0;
  padding: 0;
  color: rgba(219, 213, 213, 0.74);
}

.button:hover {
background-color: #0c0c0c;
color: rgba(219, 213, 213, 0.74);
}

.button {
font-family: "Metal Mania", cursive;
font-size: 1em;
letter-spacing: 2px;
}



textarea[placeholder="About You"]::placeholder{
  color: rgba(219, 213, 213, 0.74);
  opacity: 1;
}
textarea[placeholder="About You" i] {
  color: rgba(219, 213, 213, 0.74);
  font-size: 16px;
}
:placeholder-shown:focus::placeholder{
  color: transparent;
}


/* footer______________________________________________________________________________________________*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: rgb(53, 52, 52);
  height: 35px;
}
.logo {
  height: 20px;
  margin: 5px 12px;
}

/* responsive for tablets________________________________________________________________________________*/
@media screen and (max-width: 768px) {
  #about_the_band {
    font-size: 1.5em;
  }

  #band {
    grid-template-columns: 2fr 2fr;
    gap: 10%;
    margin: 7% 0;
  }

  h1 {
    font-size: 0.8em;
  }

  td,
  tr {
    padding: 2px 3px;
    font-size: 1em;
  }

  nav {
    font-size: 15px;
  }
}
 
/* responsive for smartphones _______________________________________________________*/
@media screen and (max-width: 425px) {
  nav {
    font-size: 10px;
  }
  #band {
    grid-template-columns: 1fr;
    gap: 10vh;
    margin: 7% 0;
  }
  .store {
    margin: 9% 10%;
  }

  .description {
    width: 80%;
    font-size: 1em;
  }

  .ref {
    font-size: 0.6em;
  }
  legend, label{
    font-size: 1em;
  }
  fieldset{
    border: none;
  }
}