@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Source+Code+Pro:wght@400;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: rgba(219, 213, 213, 0.74);
    font-size: 16px;
    }
    
    html {
        background: linear-gradient(#0C0C0C 85%, rgb(53, 52, 52));
}
header img{
    width: 100%;
    height : 50%;
    margin: 0; 
}
/* nav */
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
nav li{
    list-style-type: none;
    align-self: center;
}
nav a{
    color:rgba(148, 140, 140, 0.712);
    text-decoration: none;
    font-family: 'Metal Mania', cursive;
    font-size: 2em;
    font-size: 2em;
}

nav a:hover{
    color:rgba(219, 213, 213, 0.74);
}

#home,
#tour_dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        margin: 5% 10%;
}

/* home */
#about_the_band {
    font-family: 'Metal Mania', cursive;
    font-size: 2em;
        text-align: center;
}

#band {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15%;
        margin: 7% 0;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member>img {
    width: 80%;
}

#video {
    display: block;
    width: 100%;
}

article {
    margin-top: 10%;
}
.mag_signature {
    text-align: right;
}

/* tour dates */
h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 2em;
    letter-spacing: 4px;
}

table {
    border-collapse: collapse;
}

td,
tr {
    border-top: rgba(148, 140, 140, 0.712) solid 2px;
    border-bottom: rgba(148, 140, 140, 0.712) solid 2px;
    text-align: center;
    padding: 20px 30px;
    font-size: 1.3em;
}

.date {
    font-weight: bold;
}

/* store */
.store{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 134px;
    margin: 10% 10%;
}
.shirt, .album, .poster{
    width: 20%;
    text-decoration: none;
}
img{
    filter: brightness(60%);
}
figcaption{
    font-size: 16px;
    color: rgba(148, 140, 140, 0.712);
}
.description {
    width: 60%;
    font-size: 1.5em;
    text-align: justify;
}
.order{
    color:rgba(148, 140, 140, 0.712);
    font-family:'Metal Mania', cursive;
    letter-spacing: 1px;
    text-decoration: none;
}
/* contact */
form{
    display: flex;
    justify-content: space-around;
    margin: 5% auto;
}
legend{
    color:rgba(148, 140, 140, 0.712);
    font-family: 'Metal Mania', cursive;
    font-size: 1.5em;
    text-align: center;
}
label{
    color:rgba(148, 140, 140, 0.712);
    font-family: 'Metal Mania', cursive;
    font-size: 1em;
    letter-spacing: 1px;
}
#name, #email, #news-letter, textarea{
    background-color: rgba(148, 140, 140, 0.712);
}
button {
    background-color: #0C0C0C;
    color: rgba(219, 213, 213, 0.74);
}
.button{
    font-family: 'Metal Mania', cursive;
    font-size: 1.2em;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgb(53, 52, 52);
        /*overflow: hidden;*/
    height: 35px;
    
}
.logo{
    height: 20px;
    margin: 5px 12px;  
}

@media screen and (max-width: 768px) {
    #about_the_band {
        font-size: 1.5em;
    }

    #band {
        grid-template-columns: 2fr 2fr;
        gap: 10%;
        margin: 7% 0;
    }

    h1 {
        font-size: 1em;
    }

    td,
    tr {
        padding: 2px 3px;
        font-size: 1em;
    }

    nav {
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {

    #band {
        grid-template-columns: 1fr;
        gap: 10%;
        margin: 7% 0;
    }

}